<section class="searchbar">
    <div 
    (mouseup)="handleLocationFocus($event)"
    class="search-input">
        <input 
            (keyup)="handleLocationSearch($event)"
            [value]="location()"
            placeholder="Enter your location here"/>
        @if (showSuggestions()) { 
            <div class="suggestions">
                @if (suggestionsStatus() == REQ_STATUS.REQ_SUCCESS) {
                    @if (suggestions().length > 0 ) {
                        @for (loc of suggestions(); track $index) {
                            <p (click)="handleLocationSelect($event)" [attr.data-lat]=loc.lat [attr.data-lon]=loc.lon class="suggestion city">
                                {{loc.city}}, {{loc.state? loc.state + ',' : ""}} {{loc.country}}
                            </p>
                        }
                    } @else {
                       <p class="suggestion">No matching locations found</p> 
                    }
                } @else if (suggestionsStatus() == REQ_STATUS.REQ_PENDING) {
                    <p class="suggestion">Loading location data...</p>
                } @else if (suggestionsStatus() == REQ_STATUS.REQ_ERR) {
                    <p class="suggestion error">There was a problem getting location data. Please try again later.</p>
                } @else if (suggestionsStatus() == REQ_STATUS.REQ_NOT_STARTED) {
                    <p class="suggestion grey">Start typing to find your city!</p>
                }
            </div>
        }
    </div>
    <button (click)="requestGeolocation()">Use my location</button>
</section>