.searchbar {
   display: flex;
   align-items: flex-start;
   justify-content: center;
   margin: 0 auto;
}

.search-input {
   width: 100%;
   max-width: 400px;
   position: relative;
  
   input {
      width: 100%;
      text-align: center; 
   }  

   .suggestions {
      width: 100%;
      position: absolute;
      border: 1px solid gainsboro;
      border-bottom-right-radius: 8px;
      border-bottom-left-radius: 8px;
      
      .suggestion {
         cursor: pointer;
         border-bottom: 1px solid gainsboro;
         padding: 8px 16px;
         margin: 0;
         
         &.error {
            color: crimson;
         }

         &.grey {
            color: grey;
         }
      }
      .sel {
         background-color: var(--main-color);
      }
   }
}
