:root {
    --main-color: #375687;
}

@font-face {
    font-family: "Nunito";
    src: url("../public/Nunito-VariableFont_wght.ttf");
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-family: "Nunito";
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-size: 18px;
    color: #181818;
}

input, button {
    font-family: "Nunito";
    font-size: 18px;
    @media (max-width: 860px) {
        font-size: 16px;
    }
}

header {
    font-weight: 900;
    text-align: center;
}

app-root {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    @media (max-width: 860px) {
        height: initial; 
    }   
}