.weather-data {
    overflow: hidden; 
    h1 {
       text-align: center; 
    }
    
    .data {
        padding: 12px;
        display: grid;
        margin: 0 auto;
        grid-template-columns: 33% 33% 33%;
        grid-template-rows: 100%;
        overflow: hidden;

        & > *{
           border-radius: 8px; 
        }
    }
    
}

.enter-animation {
  animation: slide-fade 500ms ease-out;
}

@keyframes slide-fade {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

.stats {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(4px);
    box-shadow: 0px 4px 12px rgba(0,0,0,.6);
}

.current-weather {
    text-align: center;
    backdrop-filter: blur(4px);
    box-shadow: 0px 4px 12px rgba(0,0,0,.6);
    margin: 0 20px;
}

.hourly-forecast {
    text-align: center; 
    backdrop-filter: blur(4px);
    box-shadow: 0px 4px 12px rgba(0,0,0,.6);

    .hourly-data {
        max-height: 300px;
        overflow-y: scroll;
        width: 100%;
        scrollbar-color: grey rgba(255,255,255,.3);
        scrollbar-width: thin;
    }

    .hour-data {
        padding: 10px;
        display: flex;
        justify-content: space-between;
        border: 2px solid rgba(0, 0,0, .6);
        border-radius: 8px;
        margin: 8px;
    }
}

.status-text {
    text-align: center;
    
    &.error {
        color: crimson;
    }
}