<section class="weather-data">
    @if (dataReady() == REQ_STATUS.REQ_SUCCESS) {
        <h1>{{currentWeather().city}}, {{currentWeather().country}}</h1>
        <div class="data" animate.enter="enter-animation">
            <div class="stats">
                <h3>Feels like: {{currentWeather().feelslike.toFixed()}}&deg;F</h3>
                <h3>Humidity: {{currentWeather().humidity.toFixed()}}%</h3>
                <h3>Wind Speed: {{currentWeather().windSpeed}}mph</h3>
                <h3>Visibility: {{currentWeather().visibility.toFixed()}}m</h3>
            </div>
            <div class="current-weather">
                <h2>{{currentWeather().weatherEvent}}</h2>
                <!-- img url is provided by the API as well -->
                <img width=200 height=200 src="https://openweathermap.org/img/wn/{{currentWeather().icon}}@4x.png"/>
                <h2>{{currentWeather().temp.toFixed()}}&deg;F</h2>
            </div>
            <div class="hourly-forecast">
                <h2>Your Hourly Forecast</h2>
                <div class="hourly-data">
                    @if(dataReady()) {
                        @for (hour of hourlyWeather(); track hour.dt) {
                            <div class="hour-data">
                                <span>{{hour.dt * 1000| date:"MMM d @ha"}}</span>
                                <span>{{hour.temp.toFixed() }}&deg;F {{hour.weatherEvent}}</span>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    } @else if(dataReady() == REQ_STATUS.REQ_PENDING) {
       <p class="status-text">Loading...</p> 
    } @else if(dataReady() == REQ_STATUS.REQ_ERR) {
       <p class="status-text error">Could not load weather data at this time. Please try again later.</p> 
    }
</section>
